<nav class="nav">
  <a class="nav-link" href="/#section-feature">Featured_Work</a>
  <a class="nav-link" href="/#section-about">We_Are</a>
  <a class="nav-link" href="/#section-contact">Contact_Us</a>
</nav>
